@{
    List<SelectListItem> segments = (List<SelectListItem>) ViewBag.segments;

}
<div class="modal fade" id="segmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Segmentar Clientes</h5>
                <p>Escriba el nombre de la segmentacion o elija una existente.</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">    
                        <label for="segmentationName" class="col-form-label">Nombre Segmentación:</label>
                        <input type="text" class="form-control" id="segmentationName">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Segmentación:</label>
                        @Html.DropDownList("segmentos", segments, "Seleccione una segnemtanción", new { @class = "form-control", @id = "segmentsDropID" })

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnSegment">Segmentar</button>
            </div>
        </div>
    </div>
</div>
